<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MathService" behaviorConfiguration="myMathServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/MathService"/>
            <add baseAddress="net.tcp://localhost:10002/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:10001/MathService" binding="basicHttpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="net.tcp://localhost:10002/MathService" binding="netTcpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>

<!--
  <configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MathService" behaviorConfiguration="myMathServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9001/MathService"/>
            <add baseAddress="net.tcp://localhost:9002/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="https://localhost:9001/MathService" binding="basicHttpBinding" bindingConfiguration="Binding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="net.tcp://localhost:9002/MathService" binding="netTcpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehaviour">
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>

  <configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MathService" behaviorConfiguration="myMathServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://DESKTOP-OMP50VJ:9001/MathService"/>
            <add baseAddress="net.tcp://DESKTOP-OMP50VJ:9002/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://DESKTOP-OMP50VJ:9001/MathService" binding="basicHttpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="net.tcp://DESKTOP-OMP50VJ:9002/MathService" binding="netTcpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MathService" behaviorConfiguration="myMathServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="https://DESKTOP-OMP50VJ:9001/MathService"/>
            <add baseAddress="net.tcp://DESKTOP-OMP50VJ:9002/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address="https://DESKTOP-OMP50VJ:9001/MathService" binding="basicHttpBinding" bindingConfiguration="Binding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="net.tcp://DESKTOP-OMP50VJ:9002/MathService" binding="netTcpBinding" contract="MyMathServiceLib.IMathService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehaviour">
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>

-->